<html>
    <head>
        <title>The Gossip project with Sinatra</title>
    </head>
    <body>
        <h1>Super Gossips</h1>
        <p>Bienvenue</p>
        <h2>Liste des potins : </h2>
        <%gossips.each_with_index do |gossip, i|%>
            <p><%=gossip.author%><br/>
            <%=gossip.content%>
            </p>
            <a href="/gossips/<%=i%>/">plus d info</a>
            <%end%>
            <br/>
            <br/>
        <a href="/gossips/new/">rajoutez un potin</a> 
    </body>
</html>